backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
googledrivedownloader==0.4
h5py==2.10.0
idna==2.9
imagecodecs==2020.2.18
imageio==2.8.0
ipython==7.16.3
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.17.0
joblib==0.15.1
kiwisolver==1.2.0
llvmlite==0.32.1
matplotlib==3.2.1
networkx==2.4
numba==0.49.1
numpy==1.21.0
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
plyfile==0.7.2
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.4
rdflib==5.0.0
requests==2.23.0
scikit-image==0.17.2
scikit-learn==0.23.0
scipy==1.4.1
six==1.14.0
threadpoolctl==2.0.0
tifffile==2020.5.11
traitlets==4.3.3
urllib3==1.26.5
wcwidth==0.1.9
